
.container{
 width: 100%;
}

#name{
 padding: 1rem;
 margin-left: 2em;
}

#notlar{
    display:flex;
    align-items: center;
}

#notlar div{
    width: 150px;
    align-items: center;
}

#notlar p{
    text-align: center;
}

