body {
	background-color: #ddd;
	color: #757575;
}

.rss {
	width: 250px;
	height: 350px;
	position: absolute;
    top: 5%;
	right: 5%;
	background: #f3f0f1;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
	text-align: center;
	overflow: hidden;
}

.titlebar{
    display:flex; 
    width:100%; 
    height:8%; 
    margin-inline: auto; 
    align-items: center; 
    justify-content: center;
    cursor: move;
}

.screen{
    width:90%; 
    height:18%; 
    background-color: white; 
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#header{
    display: flex;
    justify-content: space-between;
    height: 1em;
    padding: 3px;
    padding-right: 5px;
}

#str{
    width: 98%;
    height: calc(100% - 1em);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
}

#mem, #sum{
    font-size: 0.9rem;
}

.grid{
    display:grid;
    grid-template-columns: repeat(4, auto); 
    grid-template-rows: repeat(6, auto);
    height: 65%;
    width: 90%;
    margin-top:7%;
    margin-inline: auto;
    gap: 8px;
}

.grid div {
  width: 100%;
  height: 100%;
  background: #f3f0f1;
  position: relative;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
  transition: all 0.1s ease-in-out;
  font-weight: 700;
}

.grid .active{
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}








